{% extends "govuk/template.njk" %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% block head %}
  <link href="{{ '/assets/css/index.css' | assetMap }}" rel="stylesheet"/>

  {% for js in feComponents.jsIncludes %}
    <script src="{{ js }}" nonce="{{ cspNonce }}"></script>
  {% endfor %}
  {% for css in feComponents.cssIncludes %}
    <link href="{{ css }}" nonce="{{ cspNonce }}" rel="stylesheet" />
  {% endfor %}
{% endblock %}

{% block pageTitle %}{{ pageTitle | default(applicationName) }}{% endblock %}

{% block header %}
  {{ feComponents.header | safe }}
{% endblock %}

{% block containerStart %}
  {% if breadcrumbs %}
    <div class="breadcrumbs govuk-!-display-none-print">
      {% if wpipReturnPath %}
        <div class="breadcrumbs__return-to-wpip">
          <a href="{{ welcomePeopleIntoPrisonUrl }}{{ wpipReturnPath }}">
            Return to recent arrivals
          </a>
        </div>
      {% endif %}

      {{ govukBreadcrumbs({
        items: breadcrumbs,
        collapseOnMobile: true
      }) }}
    </div>
  {% endif %}
{% endblock %}

{% block footer %}
  {{ feComponents.footer | safe }}
{% endblock %}

{% block bodyEnd %}
  <script type="module" src="{{ '/assets/js/index.js' | assetMap }}"></script>
{% endblock %}
