# Example local .env file. Copy me.

AUTH_CODE_CLIENT_ID=REPLACE_ME_OR_DELETE_AND_USE_ENV_VARIABLE
AUTH_CODE_CLIENT_SECRET=REPLACE_ME_OR_DELETE_AND_USE_ENV_VARIABLE
CLIENT_CREDS_CLIENT_ID=REPLACE_ME_OR_DELETE_AND_USE_ENV_VARIABLE
CLIENT_CREDS_CLIENT_SECRET=REPLACE_ME_OR_DELETE_AND_USE_ENV_VARIABLE

HMPPS_AUTH_URL=https://sign-in-dev.hmpps.service.justice.gov.uk/auth
TOKEN_VERIFICATION_API_URL=http://localhost:9091/verification
EXAMPLE_API_URL=http://localhost:9091/example-api
XRAY_BODY_SCANS_API_URL=https://x-ray-body-scans-api-dev.hmpps.service.justice.gov.uk
TOKEN_VERIFICATION_ENABLED=false
REDIS_ENABLED=false
NODE_ENV=development
ENVIRONMENT_NAME=dev