# Example local .env file. Copy me and update.

PORT=3000
NODE_ENV=dev
ENVIRONMENT=dev
ENVIRONMENT_NAME=DEV
PRODUCT_ID=DPS132

AUTH_CODE_CLIENT_ID=REPLACE_ME_OR_DELETE_AND_USE_ENV_VARIABLE
AUTH_CODE_CLIENT_SECRET=REPLACE_ME_OR_DELETE_AND_USE_ENV_VARIABLE
CLIENT_CREDS_CLIENT_ID=REPLACE_ME_OR_DELETE_AND_USE_ENV_VARIABLE
CLIENT_CREDS_CLIENT_SECRET=REPLACE_ME_OR_DELETE_AND_USE_ENV_VARIABLE

AUDIT_SERVICE_NAME=DPS132
AUDIT_ENABLED=false
AUDIT_SQS_REGION=eu-west-2
REDIS_ENABLED=false
TOKEN_VERIFICATION_ENABLED=false

HMPPS_AUTH_URL=COPY_FROM_DEV_HELM_VALUES
TOKEN_VERIFICATION_API_URL=COPY_FROM_DEV_HELM_VALUES
COMPONENT_API_URL=COPY_FROM_DEV_HELM_VALUES
DPS_HOME_PAGE_URL=COPY_FROM_DEV_HELM_VALUES
XRAY_BODY_SCANS_API_URL=COPY_FROM_DEV_HELM_VALUES
