$govuk-global-styles: true;
$path: "/assets/images/";

$moj-page-width: 1170px;
$govuk-page-width: $moj-page-width;

@import "govuk-frontend/dist/govuk/index";
@import "@ministryofjustice/frontend/moj/all";
@import "@ministryofjustice/hmpps-connect-dps-components/dist/assets/footer";
@import "@ministryofjustice/hmpps-connect-dps-components/dist/assets/header-bar";
@import "@ministryofjustice/hmpps-connect-dps-shared-items/dist/assets/scss/all";

@import "./overrides/local";
@import "./overrides/typography";

@import "./components/info-box";
@import "./components/pagination";
@import "./components/scan-alerts";
@import "./components/scan-summary";
@import "./components/scan-table";
