@use 'govuk-frontend/dist/govuk';

.breadcrumbs {
  display: flex;
  flex-direction: row;
}

.breadcrumbs__return-to-wpip {
  @extend .govuk-breadcrumbs;
  margin-right: govuk.$govuk-gutter-half;
  padding-right: govuk.$govuk-gutter-half;
  border-right: 1px solid #{govuk.govuk-functional-colour(border)};

  a {
    @include govuk.govuk-link-style-no-visited-state;
  }
}
