@use 'govuk-frontend/dist/govuk';

#case-note-modal {
  .hmpps-modal__dialogue-box {
    @include govuk.govuk-media-query($from: desktop) {
      min-width: 600px;
    }
  }
}

.case-note-modal__content .govuk-heading-s {
  margin-bottom: 0;
}

.case-note-modal__amendment {
  @include govuk.govuk-responsive-margin(2, 'top');

  &:not(:last-of-type) {
    border-bottom: 1px dashed #{govuk.govuk-functional-colour(border)};
  }
}
