@use 'govuk-frontend/dist/govuk';

@property --info-box-colour {
  syntax: '<color>';
  inherits: true;
  initial-value: #{govuk.govuk-colour(blue)};
}

// NB: this is a slight variant of MoJ alert which appears less dramatic
.info-box {
  --info-box-colour: #{govuk.govuk-colour(blue)};
  display: flex;
  flex-direction: row;
  gap: govuk.$govuk-gutter-half;
  @include govuk.govuk-responsive-margin(4, 'bottom');
  padding: govuk.$govuk-gutter-half;
  border: 2px solid var(--info-box-colour);

  @media (forced-colors: active) and (prefers-color-scheme: dark) {
    --info-box-colour: #fff;
  }

  svg {
    flex: 0 0 auto;
    color: var(--info-box-colour);
  }

  div, p {
    @include govuk.govuk-font($size: 16);
  }

  p {
    margin-bottom: 0;
  }
}
