@use "govuk-frontend/dist/govuk/helpers/colour";
@use "govuk-frontend/dist/govuk/helpers/spacing";
@use "govuk-frontend/dist/govuk/helpers/typography";
@use "govuk-frontend/dist/govuk/settings/measurements";

@property --info-box-colour {
  syntax: '<color>';
  inherits: true;
  initial-value: #{colour.govuk-colour('blue')};
}

// NB: this is _nearly_ identical to the MoJ alert 🤷
.info-box {
  --info-box-colour: #{colour.govuk-colour('blue')};
  display: flex;
  flex-direction: row;
  gap: measurements.$govuk-gutter-half;
  @include spacing.govuk-responsive-margin(4, 'bottom');
  padding: measurements.$govuk-gutter-half;
  border: 2px solid var(--info-box-colour);

  > svg {
    flex: 0 0 auto;
    color: var(--info-box-colour);
  }

  div, p {
    @include typography.govuk-font($size: 16);
  }

  p {
    margin-bottom: 0;
    color: colour.govuk-functional-colour(secondary-text);
  }
}
