@use 'govuk-frontend/dist/govuk';

.dps-pagination {
  .dps-pagination__showing {
    @include govuk.govuk-font($size: 19);
    @include govuk.govuk-responsive-margin(4, 'bottom');

    p {
      @include govuk.govuk-responsive-margin(2, 'bottom');

      span {
        @include govuk.govuk-font($size: 19, $weight: bold);
      }
    }
  }

  @include govuk.govuk-media-query($from: desktop) {
    display: flex;
    flex-direction: row;
    @include govuk.govuk-responsive-margin(2, 'bottom');

    .dps-pagination__pages {
      flex: 1 0 75%;
    }

    .dps-pagination__showing {
      flex: 1 0 25%;
      text-align: right;
    }
  }
}
