@use 'govuk-frontend/dist/govuk';

.hmpps-profile-banner {
  background: govuk.govuk-colour(black, $variant: 'tint-95');
  @include govuk.govuk-responsive-padding(3);
  @include govuk.govuk-responsive-margin(7, 'bottom');
  @include govuk.govuk-clearfix;
  margin-top: -#{govuk.govuk-spacing(4)};

  @media #{govuk.govuk-from-breakpoint(tablet)} {
    margin-top: -#{govuk.govuk-spacing(7)};
  }

  svg {
    color: #6f777b;

    rect {
      fill: govuk.govuk-colour(white);
    }

    @media (forced-colors: active) and (prefers-color-scheme: dark) {
      color: #ddd;

      rect {
        fill: #000;
      }
    }
  }

  dt, dd {
    margin: 0;
  }

  dt {
    @include govuk.govuk-font($size: 19, $weight: bold);
    @include govuk.govuk-responsive-margin(1, 'bottom');
  }

  dd {
    @include govuk.govuk-font($size: 19);

    img, svg {
      float: left;
      margin-right: govuk.$govuk-gutter;
    }

    img {
      object-fit: cover;
    }
  }
}

.hmpps-profile-banner__properties {
  display: flex;
  flex-wrap: wrap;
  gap: govuk.$govuk-gutter;

  @media #{govuk.govuk-from-breakpoint(tablet)} {
    flex-wrap: nowrap;
  }

  dd a {
    @include govuk.govuk-link-common;
    @include govuk.govuk-link-style-text;
  }
}

.hmpps-profile-banner__name {
  @media #{govuk.govuk-from-breakpoint(desktop)} {
    @include govuk.govuk-responsive-padding(9, 'right');
  }
}
