@use 'govuk-frontend/dist/govuk';

.scan-table__container {
  @include govuk.govuk-media-query($until: desktop) {
    overflow-x: auto;
  }
}

.scan-table {
  @include govuk.govuk-media-query($until: desktop) {
    min-width: 70rem;
  }

  @include govuk.govuk-font($size: 16);

  .govuk-tag {
    @include govuk.govuk-font($size: 16);
  }
}

.scan-table__details-th {
  min-width: 9rem; // to prevent tag text from wrapping
}

.scan-table__action-th, .scan-table__action-td {
  @include govuk.govuk-media-query($from: desktop) {
    text-align: right;
  }
}

.scan-table__sort-link {
  display: inline-block;
  position: relative;
  padding-right: 20px;
  @include govuk.govuk-link-style-no-visited-state;
  @include govuk.govuk-link-style-no-underline;

  &::before, &::after {
    display: none;
    position: absolute;
    font-size: 14px;
    right: 0;
  }

  th[aria-sort='ascending'] &::before {
    display: block;
    content: ' ▲' / '';
    top: 1px;
  }

  th[aria-sort='descending'] &::after {
    display: block;
    content: ' ▼' / '';
    top: 2px;
  }

  th[aria-sort='none'] & {
    &::before {
      display: block;
      content: ' ▲' / '';
      font-size: 12px;
      top: -2px;
    }
    &::after {
      display: block;
      content: ' ▼' / '';
      font-size: 12px;
      top: 10px;
    }
  }

  @media print {
    text-decoration: none;
    color: #000;
  }
}

.scan-table__highlighted-cell {
  background-color: govuk.govuk-colour(green, $variant: 'tint-80');
  animation: 1s ease-out 4s both highlightedCellFadeOut;
  transition: background-color 4s;
}

@keyframes highlightedCellFadeOut {
  0% {
    background-color: govuk.govuk-colour(green, $variant: 'tint-80');
  }
  100% {
    background-color: #fff0;
  }
}

.add-case-note-link {
  &:link, &:visited, &:hover {
    color: govuk.govuk-functional-colour(text);
  }
}
