@use "govuk-frontend/dist/govuk/helpers/colour";
@use "govuk-frontend/dist/govuk/helpers/spacing";
@use "govuk-frontend/dist/govuk/helpers/typography";
@use "govuk-frontend/dist/govuk/settings/measurements";

@property --scan-count-accent-colour {
  syntax: "<color>";
  inherits: true;
  initial-value: #{colour.govuk-functional-colour(border)};
}

.scan-count {
  --scan-count-accent-colour: #{colour.govuk-functional-colour(border)};

  border-left: measurements.$govuk-border-width solid var(--scan-count-accent-colour);
  padding-left: measurements.$govuk-border-width-wide;
  @include spacing.govuk-responsive-margin(4, "bottom");

  .scan-count__number, .scan-count__limit-warning {
    display: block;
  }

  @include typography.govuk-font($size: 16);
  .scan-count__number {
    @include typography.govuk-font($size: 36);
  }
}

.scan-count--nearing-limit, .scan-count--at-limit {
  .scan-count__number, .scan-count__limit-warning {
    color: var(--scan-count-accent-colour);
  }
}

.scan-count--nearing-limit {
  --scan-count-accent-colour: #{colour.govuk-colour(orange, $variant: "shade-25")};
}

.scan-count--at-limit {
  --scan-count-accent-colour: #{colour.govuk-colour(red, $variant: "shade-25")};
}
