@use "sass:color";
@use "govuk-frontend/dist/govuk/helpers/colour";
@use "govuk-frontend/dist/govuk/helpers/spacing";
@use "govuk-frontend/dist/govuk/helpers/typography";
@use "govuk-frontend/dist/govuk/settings/measurements";

.scan-outcome__list {
  display: flex;
  flex-direction: row;
  gap: measurements.$govuk-gutter;
  @include spacing.govuk-responsive-margin(4, 'bottom');
}

@property --scan-outcome-background-colour {
  syntax: "<color>";
  inherits: true;
  initial-value: #{colour.govuk-colour("black", $variant: "tint-80")};
}
@property --scan-outcome-border-colour {
  syntax: "<color>";
  inherits: true;
  initial-value: #{colour.govuk-colour("black")};
}
@property --scan-outcome-text-colour {
  syntax: "<color>";
  inherits: true;
  initial-value: #{colour.govuk-colour("black")};
}

.scan-outcome {
  --scan-outcome-background-colour: #{colour.govuk-colour("black", $variant: "tint-80")};
  --scan-outcome-border-colour: #{colour.govuk-colour("black", $variant: "tint-50")};
  --scan-outcome-text-colour: #{colour.govuk-colour("black")};

  flex: 1 1 auto;
  margin: 0;
  @include spacing.govuk-responsive-padding(2);

  background: var(--scan-outcome-background-colour);
  border: 1px solid var(--scan-outcome-border-colour);
  color: var(--scan-outcome-text-colour);
  box-shadow: 0 4px #{color.adjust(colour.govuk-colour("black"), $lightness: 80%)};

  p {
    margin: 0;
    color: var(--scan-outcome-text-colour);
    @include typography.govuk-font($size: 16);
  }
  p.scan-outcome__count {
    @include spacing.govuk-responsive-margin(2, "top");
    @include typography.govuk-font($size: 36);
  }
}

.scan-outcome--positive {
  --scan-outcome-background-colour: #{colour.govuk-colour("red", $variant: "tint-80")};
  --scan-outcome-border-colour: #{colour.govuk-colour("red", $variant: "tint-50")};
  --scan-outcome-text-colour: #{colour.govuk-colour("red", $variant: "shade-50")};
}

.scan-outcome--negative {
  --scan-outcome-background-colour: #{colour.govuk-colour("blue", $variant: "tint-80")};
  --scan-outcome-border-colour: #{colour.govuk-colour("blue", $variant: "tint-50")};
  --scan-outcome-text-colour: #{colour.govuk-colour("blue", $variant: "shade-50")};
}
