{% extends "partials/layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "moj/components/alert/macro.njk" import mojAlert %}

{% set pageTitle = applicationName + " – Record an X-ray body scan" %}
{% if createCallFailed or errors %}
  {% set pageTitle = "Error: " + pageTitle %}
{% endif %}

{% set breadcrumbs = [
  { text: 'Digital Prison Services', href: dpsHomeUrl },
  { text: prisoner.reversedDisplayName, href: prisoner | prisonerProfileUrl },
  { text: 'X-ray body scans', href: '/prisoner/' + prisoner.prisonerNumber + '/scan-overview' }
] %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if createCallFailed %}
        {{ mojAlert({
          variant: "error",
          text: "The details could not be recorded. Try again. If the problem continues, try again later.",
          role: "alert"
        }) }}
      {% elseif errors %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errorSummary(errors)
        }) }}
      {% endif %}

      <h1 class="govuk-heading-l">
        Record an X-ray body scan for {{ prisoner.displayName }}
      </h1>

      {% if locationNotActiveCaseload %}
        {% set activeCaseloadName = user.activeCaseLoad.description %}
        {% set msgTitle %}
          This scan will be recorded at {{ activeCaseloadName }}
        {% endset %}
        {% set msgText %}
          {{ prisoner.displayName }} is not at this establishment.
          Enter the scan details if it took place at {{ activeCaseloadName }}.
        {% endset %}
        {{ mojAlert({
          variant: "information",
          title: msgTitle | safe,
          html: msgText,
          showTitleAsHeading: true
        }) }}
      {% endif %}

      <form id="form" method="POST" novalidate>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">

        {{ govukRadios({
          idPrefix: "scanDateOption",
          name: "scanDateOption",
          formGroup: { attributes: { "data-testid": "scanDate-form-group" } },
          fieldset: {
            legend: {
              text: "When did the scan happen?",
              classes: "govuk-fieldset__legend--s"
            }
          },
          errorMessage: errorMessageForField("scanDateOption", errors),
          items: [
            {
              value: "today",
              text: "Today (" + today + ")",
              checked: formValues.scanDateOption === "today"
            },
            {
              value: "yesterday",
              text: "Yesterday (" + yesterday + ")",
              checked: formValues.scanDateOption === "yesterday"
            },
            {
              value: "other",
              text: "Another date",
              checked: formValues.scanDateOption === "other",
              conditional: {
                html: govukDateInput({
                  id: "scanDate",
                  namePrefix: "scanDate",
                  hint: {
                    text: "For example, 23 7 2026"
                  },
                  errorMessage: errorMessageForField("scanDate", errors),
                  items: [
                    {
                      name: "day",
                      classes: "govuk-input--width-2",
                      value: formValues["scanDate-day"],
                      error: scanDateComponentsWithErrors.has("scanDate-day")
                    },
                    {
                      name: "month",
                      classes: "govuk-input--width-2",
                      value: formValues["scanDate-month"],
                      error: scanDateComponentsWithErrors.has("scanDate-month")
                    },
                    {
                      name: "year",
                      classes: "govuk-input--width-4",
                      value: formValues["scanDate-year"],
                      error: scanDateComponentsWithErrors.has("scanDate-year")
                    }
                  ]
                })
              }
            }
          ]
        }) }}

        {{ govukRadios({
          idPrefix: "justification",
          name: "justification",
          formGroup: { attributes: { "data-testid": "justification-form-group" } },
          fieldset: {
            legend: {
              text: "Why was the scan carried out?",
              classes: "govuk-fieldset__legend--s"
            }
          },
          hint: {
            text: "Select the reason for checking for internally concealed items."
          },
          errorMessage: errorMessageForField("justification", errors),
          items: [
            {
              value: "INTELLIGENCE",
              text: "Intelligence-led cohort",
              checked: formValues.justification === "INTELLIGENCE",
              hint: {
                text: "The prisoner was selected for scanning as part of a group identified through security intelligence."
              }
            },
            {
              value: "REASONABLE_SUSPICION",
              text: "Reasonable suspicion",
              checked: formValues.justification === "REASONABLE_SUSPICION",
              hint: {
                text: "An individual prisoner was selected for scanning because there were reasonable grounds for suspicion."
              }
            }
          ]
        }) }}

        {{ govukRadios({
          idPrefix: "outcome",
          name: "outcome",
          formGroup: { attributes: { "data-testid": "outcome-form-group" } },
          fieldset: {
            legend: {
              text: "What was the result of the scan?",
              classes: "govuk-fieldset__legend--s"
            }
          },
          hint: {
            text: "Record the operator’s interpretation of the X-ray image at the time of the scan. This may not be a confirmed outcome."
          },
          errorMessage: errorMessageForField("outcome", errors),
          items: [
            {
              value: "INCONCLUSIVE",
              checked: formValues.outcome === "INCONCLUSIVE",
              text: "Inconclusive",
              hint: {
              text: "The image could not be interpreted."
            }
            },
            {
              value: "NEGATIVE",
              checked: formValues.outcome === "NEGATIVE",
              text: "Negative",
              hint: {
                text: "The image does not indicate an illicit or unauthorised item is internally concealed."
              }
            },
            {
              value: "POSITIVE",
              checked: formValues.outcome === "POSITIVE",
              text: "Positive",
              hint: {
                text: "The image indicates that an illicit or unauthorised item may be internally concealed."
              }
            }
          ]
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Save",
            preventDoubleClick: true
          }) }}

          {% if wpipReturnPath %}
            <a href="{{ welcomePeopleIntoPrisonUrl }}{{ wpipReturnPath }}" class="govuk-link" data-signal-end-journey="wpip">
              Cancel
            </a>
          {% else %}
            <a href="/prisoner/{{ prisoner.prisonerNumber }}/scan-overview" class="govuk-link">
              Cancel
            </a>
          {% endif %}
        </div>

      </form>

    </div>
  </div>

{% endblock %}
