{% extends "partials/layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "macros/resultTag.njk" import resultTag %}

{% set pageTitle = applicationName + " – Scan recorded" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set prisonerDetailsHtml %}
        <div class="govuk-!-font-size-36">
          <strong>Name:</strong> {{ prisoner.displayName }}
          <br />
          <strong>Prison number:</strong> {{ prisoner.prisonerNumber }}
        </div>
      {% endset %}
      {{ govukPanel({
        titleText: "Scan recorded",
        html: prisonerDetailsHtml
      }) }}

      <h2 class="govuk-heading-m">Scan details</h2>

      {{ govukSummaryList({
        rows: [
          {
            key: { text: "Date" },
            value: { text: scan.scanDate | formatDisplayDate }
          },
          {
            key: { text: "Reason" },
            value: { text: scan.justificationDescription }
          },
          {
            key: { text: "Result" },
            value: { html: resultTag(scan) }
          },
          {
            key: { text: "Items found" },
            value: { text: scan.typeOfFindDescription or "None" }
          }
        ]
      }) }}

      {% if internalSecretorAlert %}

        <p>An internal secretor alert already exists for this person.</p>
        {# TODO: what are the permissions rules to update an alert? #}
        <p>
          Update the alert if this scan changes the level of risk,
          <a href="{{ prisonerProfileUrl }}/prisoner/{{ prisoner.prisonerNumber }}/alerts/{{ internalSecretorAlert.id }}/add-more-details">
            Update internal secretor alert
          </a>.
        </p>

      {% elseif internalSecretorAlertCreated %}

        <p>An internal secretor alert has been added to this person’s profile.</p>

      {% endif %}

      {#
      <p>You can create a case note if you need to record additional information about this scan.</p>
      {{ govukButton({
        text: "Add a case note",
        classes: "govuk-button--secondary",
        href: "TODO"
      }) }}
      #}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Return to X-ray body scans",
          href: "/prisoner/" + prisoner.prisonerNumber + "/scans"
        }) }}
        <a class="govuk-link" href="{{ prisoner | prisonerProfileUrl }}">View this person’s profile</a>
      </div>

    </div>
  </div>
{% endblock %}
