{% extends "partials/layout.njk" %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = applicationName + " – Scan recorded" %}

{% block content %}

  {{ govukPanel({
    titleText: "Scan recorded",
    html: "TODO"
  }) }}

  <h2 class="govuk-heading-m">Scan details</h2>

  {{ govukSummaryList({
    rows: [
      {
        key: { text: "Date" },
        value: { text: "TODO" }
      },
      {
        key: { text: "Reason" },
        value: { text: "TODO" }
      },
      {
        key: { text: "Result" },
        value: { html: govukTag({ text: "TODO", classes: "govuk-tag--red" }) }
      },
      {
        key: { text: "Items found" },
        value: { text: "TODO" }
      }
    ]
  }) }}

  <p>TODO: content, conditional rendering + links</p>

  {{ govukButton({
    text: "Add a case note",
    classes: "govuk-button--secondary",
    href: "TODO"
  }) }}

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Return to body scans",
      href: "/prisoner/" + prisoner.prisonerNumber + "/scans"
    }) }}
    <a class="govuk-link" href="{{ prisoner | prisonerProfileUrl }}">View this person’s profile</a>
  </div>

{% endblock %}
