{% extends "partials/layout.njk" %}

{% from "moj/components/alert/macro.njk" import mojAlert %}
{% from "components/profileBanner.njk" import profileBanner %}

{% set pageTitle = "Error: " + applicationName + " – X-ray body scans" %}
{% set breadcrumbs = [
  { text: 'Digital Prison Services', href: dpsHomeUrl },
  { text: prisoner.reversedDisplayName, href: prisoner | prisonerProfileUrl }
] %}

{% block content %}

  {{ profileBanner({
    prisoner: prisoner,
    prisonerPermissions: prisonerPermissions
  }) }}

  <h1 class="govuk-heading-l">X-ray body scans</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ mojAlert({
        variant: "error",
        text: "The scan history could not be loaded. Try again. If the problem continues, try again later.",
        role: "alert"
      }) }}
    </div>
  </div>

  <p><a href="{{ prisoner | prisonerProfileUrl }}">Return to the prisoner’s profile</a></p>

{% endblock %}
